# Ignore everything by default
*

# --- Allow Git metadata ---
!.gitignore
!.gitattributes
!.gitmodules

# --- Allow project configuration/scripts ---
!CMakeLists.txt
!Makefile
!README.md
!LICENSE
!.editorconfig
!.ycm_extra_conf.py
!.clang-format

# --- Allow source code ---
!src/
!include/

!src/**/*.c
!include/**/*.h

!tests/
!tests/**/*.c

# --- Allow scripts ---
!scripts/
!scripts/**/*.sh
!scripts/**/*.py

# --- Allow GNU Make submodules
!make/
!make/**/*.mk

# --- Allow documentation sources ---
!docs/
!docs/**
!docs/**/*.*
