# Ignore everything by default
*

# --- Allow Git metadata ---
!.gitignore
!.gitattributes

# --- Allow project configuration/scripts ---
!CMakeLists.txt
!Makefile
!README.md
!LICENSE
!.editorconfig
!.ycm_extra_conf.py

# --- Allow source code ---
!src/
!include/
!core/
!lib/

!src/**/*.c
!include/**/*.h

!tests/
!tests/**/*.c

# --- Allow scripts ---
!scipts/*.sh
!scipts/**/*.sh
!scipts/*.py
!scipts/**/*.py

# --- Allow GNU Make submodules
!make/
!make/**/*.mk

# --- Allow documentation sources ---
!docs/Doxyfile
